.vscode/*
.idea
.DS_Store
logs
*.log
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

node_modules
packages/*/node_modules

package-lock.json
packages/*/package-lock.json

pnpm-lock.yaml
packages/*/pnpm-lock.yaml
